@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    list-style: none;
    text-decoration: none;

}
.container{
    width: 90%;
    margin: 0 auto;
}
.nav-container{
    background-image: url("pexels-negative-space-160107.jpeg");
    height: 800px;
    /* width: 1515px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.navbar{
    background-color: #000000b3;
    border-bottom: 1px outset rgba(255, 255, 255, 0.9);
    border-top: 1px outset rgba(255, 255, 255, 0.9);
}
.navbar .container{
 display: flex;
 justify-content: space-between;
 font-family: 'Roboto', sans-serif;
 font-size: 15px;


}
.menu{
    text-decoration: none;
    display: flex;
}
.menu li{
    padding: 10px 15px;
    margin: 15px 0;
}
.logo{
    margin: 25px 0;
    font-size: 20px;
    font-weight: 500;
}
.logo-span{
    color: rgb(24, 156, 176);
}
