.nav-container1{
    /* background-image: url("pexels-negative-space-160107.jpeg"); */
    height: 800px;
    /* width: 1515px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}